<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148403114008-h46i3rmdgan4ln2n2hhppqn57n9ufg3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148403114008-h46i3rmdgan4ln2n2hhppqn57n9ufg3k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>148403114008-0ut5v55qi4fmq2f0nvs96arqr7tft7f1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpHss5Obv_T1_CRkgogGtDzTqB2nLHubo</string>
	<key>GCM_SENDER_ID</key>
	<string>148403114008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diet-and-workout-plan</string>
	<key>PROJECT_ID</key>
	<string>dietandworkoutplan</string>
	<key>STORAGE_BUCKET</key>
	<string>dietandworkoutplan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148403114008:ios:1f55fad68244a13669f36d</string>
	<key>DATABASE_URL</key>
	<string>https://dietandworkoutplan.firebaseio.com</string>
</dict>
</plist>